@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", 'Open Sans';
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%,-50%); */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* width: 0; */
}

.button {
  height: 30px;
  width: 30px;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.search_box {
  outline: none;
  font-family: 'Open Sans';
  font-size: 20px;
  transition: width 2s ease-in-out;
  border:none;
  width: 0;
  height: 30px;
}



.search_box.active {
  width: 200px;
  
}

.search_button.active {
  display: none;
}

.close_button {
  display: none;
}

.close_button.active {
  display: flex;
}